.row
        .column.date 24.06.14
        .column.page
            a(href="#") форум новый
            span.accent  в новости 
            |site.com
        .column.value
            |244,44
            span.rub  руб.